.App {
  text-align: center;
}

.App-header {
  background-color: #5288de;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

.component {
  position: relative;
  background-color: #5288de;
  color:white;
  width: 500px;
  margin: auto;
  padding: 80px;
  border-radius: 16px;
}

.question {
  margin-top: 0px;
  margin-bottom: 0px;
}

.input {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  font-size: 24px;
}

input[type=radio] {
  border: 0px;
  width: 24px;
  height: 70%;
  cursor: pointer;
  accent-color: #5288de;
}

.text {
  margin-top: 50px;
  width: 380px;
  height: 34.5px;
  font-size: 16px;
  color: #395e9a;
  padding: 8px;
  border-radius: 8px;
  border: 0px;
}

input {
  padding: 0px;
  margin: 0px;
}

label {
  padding-left: 8px;
}


.next {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 16px;
  padding: 8px;
  border-radius: 16px;
  border: 2px solid #395e9a;
  background-color: white;
  color: #395e9a;
  cursor: pointer;
}

.back {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 16px;
  padding: 8px;
  border-radius: 16px;
  border: 2px solid #2c5dab;
  background-color: white;
  color: #395e9a;
  cursor: pointer;
}

.submit {
  position: absolute;
  right: 10px;
  bottom: 10px
}

h4 {
  font-style: italic;
}

table {
  margin: auto;
  border-collapse: collapse;
  border: 1px solid #395e9a;
  width: 500px;
}

.topTable {
  border-bottom: 0px
}

.bottomTable {
  border-top: 0px
}

th {
  background-color: #395e9a;
  padding: 16px;
}
td {
  background-color: #5288de;
  padding: 16px;
}


.admin {

  background-color: #2c5dab;
  color:white;
  width: 100%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

.adminTable {
  border: 2px solid white ;
}

.adminButton {
  font-size: 16px;
  padding: 8px;
  border-radius: 16px;
  border: 2px solid #395e9a;
  background-color: white;
  color: #395e9a;
  cursor: pointer;
}

.flaggedButton {
  font-size: 16px;
  padding: 8px;
  border-radius: 16px;
  border: 2px solid #395e9a;
  background-color: lightcoral;
  color: #395e9a;
  cursor: pointer;
}